html,
body,
main {
  height: 100%;
}
/* 属性图标 */
[class^=el-icon-] {
  color: rgba(0, 0, 0, 0.35);
  font-size: 20px;
}
[class^=el-icon-].active {
  color: #000000;
}
.el-table_1_column_2 {
  font-size: 12px;
  color: #267cb7;
}
.el-table thead tr {
  background-color: #e4e3e3;
  font-size: 15px;
}
